[Unit]
Description=Eink Planner
After=multi-user.target
Conflicts=eink-poster.service

[Service]
User=ben
WorkingDirectory=/home/ben/eink-planner
ExecStart=python3 eink_planner.py

[Install]
WantedBy=multi-user.target