[Unit]
Description=Motivational Poster

[Service]
User=ben
WorkingDirectory=/home/ben/epaper-dashboard
ExecStart=python3 eink_poster.py

[Install]
WantedBy=multi-user.target