[Unit]
Description=Eink Dashboard
After=multi-user.target
Conflicts=motivational-poster.service

[Service]
User=ben
WorkingDirectory=/home/ben/epaper-dashboard
ExecStart=python3 eink_planner.py

[Install]
WantedBy=multi-user.target